{% load static %}
<footer class="footer-green">
    <div class="footer-top">
        <ul class="footer-links">
            <a href="#">Contacts</a>
            <a href="#">Pricing plans</a>
            <a href="#">Our social networks</a>
        </ul>

        <div class="social-icons">
            <img src="{% static 'images/instagram.png' %}" alt="Instagram">
            <img src="{% static 'images/telegram.png' %}" alt="Telegram">
            <img src="{% static 'images/whatsapp.png' %}" alt="WhatsApp">
        </div>

        <p class="add-bank">Add a bank card</p>

        <div class="payment-logos">
            <img src="{% static 'images/visa.png' %}" alt="VISA">
            <img src="{% static 'images/mastercard.png' %}" alt="Mastercard">
            <img src="{% static 'images/applepay.png' %}" alt="Apple Pay">

        </div>
    </div>

    <div class="footer-bottom">
        <p>
            <a href="#">Privacy Policy</a> |
            <a href="#">Terms of Use</a>
            © 2025 PP Delivery. All rights reserved.
        </p>
    </div>
</footer>

